@model IList<MoviesWeb.ViewModels.MovieCast.MovieCastViewModel>
@{
    string actors = string.Empty;
    @foreach (var cast in Model)
    {
        actors += cast.Actor.Name + ", ";
    }
    if (!string.IsNullOrEmpty(actors))
        actors = actors.Substring(0, actors.LastIndexOf(','));
    <p>@actors.Trim()</p>
}
