@model IList<MoviesWeb.ViewModels.MovieActor.MovieActorViewModel>
@{
    if (Model == null || Model.Count == 0)
    {
        <p>Actors are not available</p>
    }
    else
    {
        foreach (var movieActor in Model)
        {
            <a asp-controller="Actor" asp-action="Details" asp-route-id="@movieActor.ActorId">@movieActor.Actor.Name</a>
        }
    }
}
