@model MoviesWeb.ViewModels.MovieActor.MovieActorCreateViewModel

@{
    ViewData["Title"] = "Add Movie cast";
}

<div class="card">
    <div class="card-header">
        <h3>Create Actor</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" readonly asp-for="MovieId" />
                    <div class="form-group row">
                        <label asp-for="MovieTitle" class="control-label col-2"></label>
                        <input asp-for="MovieTitle" readonly class="form-control col-10" />
                    </div>
                    <div class="form-group row">
                        <label asp-for="MovieImageUrl" class="control-label col-2"></label>
                        <img src="~/@Model.MovieImageUrl" height="50" width="50" alt="image" asp-append-version="true" />
                        <input type="hidden" readonly asp-for="MovieImageUrl" />
                    </div>
                    
                    <div class="form-group row">
                        <label class="control-label col-2">Select actor</label>
                        <div>
                            <label id="selectedActorLabel" asp-for="ActorId" style="visibility:hidden"></label>
                            <img id="selectedActorImage" src="~/@Model.ActorId" height="50" width="50" style="visibility:hidden" />
                        </div>
                        <select asp-for="ActorId" class="choose-actor form-control col-10">
                        </select>
                        @*@Html.ValidationMessageFor(m => m.ActorId)*@
                        <span asp-validation-for="ActorId" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="CharacterName" class="control-label col-2"></label>
                        <input asp-for="CharacterName" class="form-control col-10" />
                        <span asp-validation-for="CharacterName" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <label asp-for="CastOrder" class="control-label col-2"></label>
                        <input asp-for="CastOrder" class="form-control col-10" />
                        <span asp-validation-for="CastOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-movieId="@Model.MovieId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $(".choose-actor").select2({
                ajax: {
                    url: '/api/actor',
                    dataType: 'json',
                    data: function (params) {
                        return {
                            prefix: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    },
                    cache: true
                },
                placeholder: 'Select actor',
                minimumInputLength: 1,
                templateResult: formatRepo,
                templateSelection: formatRepoSelection
            });

            function formatRepo(repo) {
                console.log(repo);
                if (repo.loading) {
                    return repo.text;
                }
                var rootPath = "@Url.Content("~/")";
                console.log(rootPath);
                var imageUrl = rootPath + repo.imageUrl;
                console.log(imageUrl);
                var $container = $(`
                    <div class='select2-result-repository clearfix row col-12'>
                        <div class='select2-result-repository__avatar'>
                            <img src='${imageUrl}' style='width:50px;height:50px;object-fit:cover' />
                        </div>
                        <div class='select2-result-repository__meta'>
                            <div class='select2-result-repository__title'> ${repo.name} </div>
                        </div>
                    </div>`);
                return $container;
            }

            function formatRepoSelection(repo) {
                $("#selectedActorLabel").css("visibility", "visible");
                $("#selectedActorImage").css("visibility", "visible");
                $("#selectedActorLabel").text(`${repo.name}`);
                $("#selectedActorImage").attr("src", `~/${repo.imageUrl}`);
                return repo.name;
                //console.log(repo.imageUrl);
                //var $container = $(`
                //     <div>
                //        <img src='${repo.imageUrl}' style='width:50px;height:50px;object-fit:cover' />
                //        <p>${repo.name}</p>
                //    </div>
                //    `);
                //return $container;
            }
        });
    </script>
}
